.colsign {
  margin: 0 auto;
}

@media only screen and (max-width: 450px) {
  .w25 {
    width: 160px !important;
  }
}

@media only screen and (max-width: 992px) {
  .formsize {
    width: 100%;
    padding: 30px !important;
  }
  .signinheading {
    text-align: center;
  }
  .orloginbutton {
    margin: 0 !important;
  }
}

.orloginbutton {
  border: 1px solid rgb(145 156 162 / 88%);
  padding: 15px 3px;
  border-radius: 13px;
  background-color: white;
  color: black;
  width: 100%;
  font-size: 12px;
}

.toggleCredsDiv {
  position: relative;
  padding: 20px;
  width: 100%;
}

.toggleCreds {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 3px rgb(145 156 162);
  -moz-box-shadow: 0px 0px 3px rgb(145 156 162);
  box-shadow: 0px 0px 3px rgb(145 156 162);
  /*color: #fafafa; */
  font-size: 13px;
  padding: 11px;
  text-decoration: none;
  cursor: pointer;
  min-width: 50%;
  background-color: #d5dee896;
  }

